@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #FFF;
  background-color: #08020d;
}

.mr-24 {
  margin-right: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.cont-rel {
  position: relative;
}

.flex-container {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: none;
}

@media (min-width: 1240px) {
  h1 {
    font-size: 60px;
    line-height: 90px;
    font-family: "Roboto-Bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  h2 {
    font-size: 38px;
    line-height: 57px;
    font-family: "Roboto-Bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  .container {
    width: 1200px;
    margin: auto auto;
  }
}
@media (max-width: 1199px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-family: "Roboto-Bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
    font-family: "Roboto-Bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  .container {
    width: 100%;
    margin: auto auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.header {
  position: absolute;
  top: 25px;
  align-items: center;
}

.flex-marg-header {
  margin-left: 451px;
}

.head-a {
  text-decoration: none;
  color: #cacaca;
  margin-right: 24px;
  font-size: 11px;
  text-transform: uppercase;
}
.head-a:last-child {
  margin-right: 0;
}

.flex-marg-logo {
  margin-right: 16px;
}
.flex-marg-logo:last-child {
  margin-right: 90px;
}

.logo-title {
  align-items: center;
}

.search {
  background-color: #3C3B3D;
  color: #757575;
  min-width: 248px;
  border: none;
  border-radius: 50px;
  padding: 5px 10px 4px 10px;
}

@media (max-width: 1199px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
  }

  .header {
    align-items: flex-start;
    flex-direction: column;
    left: 20px;
    right: 20px;
  }

  .flex-marg-header {
    margin-left: 0px;
    width: 100%;
  }

  .flex-marg-logo {
    margin-bottom: 17px;
  }

  .search {
    width: 100%;
  }
}
.bcg-sec-1 {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: #FFF;
}
.section-1 h2 {
  margin-bottom: 31px;
}
.section-1 p {
  margin-bottom: 17px;
  font-size: 16px;
}
.section-1 .sec-1-form {
  background-color: transparent;
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
  flex: 1 1 0;
}
.section-1 .sec-1-form::placeholder {
  color: #FFF;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
}
.section-1 .flex-form {
  max-width: 570px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-1 .btn-green {
  background-color: #34C176;
  width: 100%;
  border: none;
}

@media (max-width: 1199px) {
  .section-1 {
    padding-top: 248px;
    padding-bottom: 201px;
  }
  .section-1 h2 {
    margin-bottom: 16px;
  }
  .section-1 .mr-24 {
    margin-right: 0;
  }
}
.subscription {
  padding-top: 100px;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-base {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-prem {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.sub-cont {
  text-align: center;
}

.sub-form {
  margin-bottom: 48px;
}

.card-title {
  text-transform: uppercase;
  margin-bottom: 200px;
  margin-top: 24px;
  color: #FFF;
  font-size: 24px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

.pricing-value {
  font-size: 64px;
  margin-bottom: 40px;
  line-height: 1em;
  color: #FFF;
}

.fiat {
  font-size: 32px;
  vertical-align: text-top;
}

.pricing-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}
.pricing-item a {
  color: #FFF;
  text-decoration: none;
}

.btn-sub {
  border: 1px solid #FFF;
  display: inline-block;
  min-width: 318px;
  font-size: 16px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pricing-footer {
  margin-top: 64px;
  margin-bottom: 64px;
  font-size: 12.8px;
  line-height: 19.2px;
  max-width: 318px;
  color: #FFF;
}

.flex-set {
  justify-content: space-between;
}

.sub-end {
  font-size: 16px;
}

@media (max-width: 1199px) {
  .flex-set {
    justify-content: center;
  }

  .pricing-item {
    margin-bottom: 50px;
  }
  .pricing-item:last-child {
    margin-bottom: 0;
  }
}
.news-sec-marg {
  padding-top: 100px;
}

.news-main-title {
  margin-bottom: 48px;
}

.news-col-flex {
  flex-direction: column;
}

.news-h3 {
  font-size: 30px;
  line-height: 1.5em;
  font-weight: 400;
  margin-bottom: 30px;
}

.news-p {
  color: #cacaca;
  max-width: 575px;
  font-size: 16px;
  margin-bottom: 24px;
}

.btn-album {
  display: inline-block;
  border: 1px solid #cacaca;
  color: #cacaca;
  font-size: 12px;
  padding: 16px 30px;
}

.news-item {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 65px;
}

.news-author {
  margin-bottom: 48px;
  font-size: 12px;
  color: #cacaca;
}

.text-orange {
  color: #F89202;
}

.news-mb-0 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .news-item {
    justify-content: center;
  }

  .news-h3 {
    font-size: 16px;
  }

  .news-img {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .news-item-reverse {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.mobile-sec-marg {
  padding-top: 100px;
  margin-bottom: 100px;
}

.mobile-ver-h2 {
  margin-bottom: 48px;
}

.btn-app {
  display: inline-block;
  border: none;
  background-color: #95390C;
  border-radius: 32px;
  padding: 16px 40px;
  font-size: 12.8px;
}

.news-p-bot-16 {
  margin-bottom: 16px;
  max-width: 374px;
}

.news-p-top-16 {
  margin-top: 16px;
  max-width: 374px;
}

.app-img {
  margin-right: 123px;
}

@media (max-width: 1199px) {
  .app-img {
    margin-right: 0;
    margin-bottom: 0;
    max-width: 333px;
  }
}
.bcg-sec-2 {
  padding-top: 250px;
  padding-bottom: 223px;
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.brown-btn {
  background-color: #95390C;
}

.purple-btn {
  background-color: #5328A1;
}

.artist-btn {
  min-width: 200px;
  border: none;
  align-items: center;
  max-height: 62px;
}

.svg-img {
  filter: invert(100%);
  margin-right: 16px;
}

.artist-main-title {
  text-align: left;
  margin-bottom: 16px;
}

.viewers {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 48px;
}

@media (max-width: 1199px) {
  .purple-btn {
    margin-bottom: 24px;
  }
}
.top-tracks {
  padding-top: 100px;
}

.top-track-main-title {
  text-align: left;
  margin-bottom: 48px;
}

.track-col {
  flex-direction: column;
  justify-content: center;
}

.top-main-flex {
  justify-content: space-between;
  flex-wrap: wrap;
}

.top-secondary-flex {
  min-width: 551px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.album-img {
  margin-right: 15px;
}

.track-info p {
  font-size: 12.8px;
  color: #cacaca;
}

.track-info h3 {
  font-size: 12.8px;
}

.secondary-flex-m0 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .top-secondary-flex {
    min-width: 374px;
  }

  .top-main-flex {
    justify-content: center;
  }

  .secondary-flex-m24 {
    margin-bottom: 24px;
  }
}
.discography {
  padding-top: 100px;
}

.discography-h2 {
  text-align: left;
  margin-bottom: 48px;
}

.disco-col {
  flex-direction: column;
  margin-bottom: 25px;
  margin-right: 50px;
}

.discography-info h3 {
  font-size: 18px;
}

.discography-info p {
  font-size: 16px;
}

.disc-album-img {
  margin-bottom: 18px;
  height: 250px;
  width: 250px;
}

.disco-main-flex {
  flex-wrap: wrap;
}

.disco-col-m0 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .disc-album-img {
    height: 137px;
    width: 137px;
  }

  .discography-info h3 {
    max-width: 137px;
  }

  .discography-info p {
    max-width: 137px;
  }
}
.similar {
  padding-top: 100px;
  margin-bottom: 100px;
}

.funs {
  color: #cacaca;
}

.similar-col {
  text-align: center;
}

.footer-a {
  color: #E0E0E0;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto-Regular", sans-serif;
}

.footer-p {
  font-size: 16px;
  font-family: "Roboto-Regular", sans-serif;
  color: #E0E0E0;
}

.footer-line {
  border-bottom: 2px solid #cacaca;
}

.footer-bcg {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-cont-top {
  padding-top: 62px;
  padding-bottom: 72px;
}

.footer-cont-bottom {
  padding-top: 40px;
  padding-bottom: 49px;
}

.footer-flex-col {
  flex-direction: column;
  min-width: 270px;
}
.footer-flex-col h4 {
  margin-bottom: 15px;
  font-size: 18px;
  font-family: "Roboto-Bold", sans-serif;
  text-transform: uppercase;
  color: #FFF;
}

.footer-flex-row {
  flex-direction: row;
}

@media (max-width: 1199px) {
  .footer-flex-col {
    margin-bottom: 30px;
  }

  .footer-bottom-col {
    flex-direction: column;
  }
  .footer-bottom-col .footer-a {
    margin-bottom: 16px;
  }
  .footer-bottom-col .footer-a:last-child {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
