.discography {
    padding-top: 100px;
}

.discography-h2 {
    text-align: left;
    margin-bottom: 48px;
}

.disco-col {
    flex-direction: column;
    margin-bottom: 25px;
    margin-right: 50px;
}

.discography-info h3 {
    font-size: 18px;
}

.discography-info p {
    font-size: 16px;
}

.disc-album-img {
    margin-bottom: 18px;
    height: 250px;
    width: 250px;
}

.disco-main-flex {
    flex-wrap: wrap;
}

.disco-col-m0 {
    margin-bottom: 0;
}

@media (max-width: 1199px) {
    .disc-album-img {
        height: 137px;
        width: 137px;
    }

    .discography-info h3 {
        max-width: 137px;
    }
    
    .discography-info p {
        max-width: 137px;
    }
}