.header {
    position: absolute;
    top: 25px;
    align-items: center;
}

.flex-marg-header {
    margin-left: 451px;
  }  

.head-a {
    text-decoration: none;
    color: $text-base-1;
    margin-right: 24px;
    font-size: 11px;
    text-transform: uppercase;

    &:last-child {
        margin-right: 0;
    }
}

.flex-marg-logo {
    margin-right: 16px;

    &:last-child {
        margin-right: 90px;
    }
}

.logo-title {
    align-items: center;
  }

  .search {
      background-color: $search;
      color: $search-text;
      min-width: 248px;
      border: none;
      border-radius: 50px;
      padding: 5px 10px 4px 10px;
    
  }

  @media  (max-width: 1199px) {
      .nav {
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 18px;
      }
      .header {
          align-items: flex-start;
          flex-direction: column;
          left: 20px;
          right: 20px;
      }
      .flex-marg-header {
        margin-left: 0px;
        width: 100%;
      } 
      .flex-marg-logo {
          margin-bottom: 17px;
      }
      .search {
          width: 100%;
      }
  }





